body {
    background-image: url("images\h8hsv5S.gif");
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background:#1f2937;
    margin:0px;
}
.navbar{
    background-color: #1f2937;
    display:flex;
    align-items: center; 
    padding: 20px 40px 20px 40px;

}

.header-logo img{
    width:80px;
    height:80px;
}
.navbar ul{
    margin-left: auto;
    list-style: none;
    padding: 20px;
    margin-right: 40px;

}
.navbar li{
    display:inline-block;
    margin-left: 70px;
    padding-top: 5px;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:white;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Roboto",Arial;
}
.navbar a:hover{
    color: orange;
}
.navbar a::before{
    content:"";
    display:block;
    height:5px;
    background-color: orange;
    position: absolute;
    top: -55.8px;
    width:0%;
    transition: all ease-in-out 250ms;
}
.navbar a:hover::before{
    width:100%;
}
.backgroundcontainer {
    background-image: url(images/h8hsv5S.gif);
    background-position: center;
    background-size: cover
}
.pagehero {
    display:flex;
    align-items:center;
    padding:90px;
    margin-left: 300px;
    
}
.texthero {
    display:flex;
    border-radius: 25px;
    background-color: rgba(0,0,0,.7);
    color: white;
    padding: 20px;
    flex-basis:1300px;
    flex-direction: column;
    text-align: center;
    margin-right: 200px;
    font-family: "roboto",Arial;
}
.texthero h1{
    font-size: 48px;
    align-self: center;
    margin-top: 0px;
    font-weight: bold;
}
.texthero p{
    color: honeydew;
    font-family: "Robota", Arial;
    text-align: center;
    margin-bottom: 20px;
}
.texthero button{
    display:block;
    width:110px;
    padding:5px;
    align-self: center;
    border-radius: 25px;
    
}
.bulbahero img{
    max-width: 60%;
    height:auto;
    padding-left: 150px;
}
.content {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.content h2 {
    font-size: 40px;
    color: white;
}
.content-friends {
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: "Robota", Arial;
    color: white;
    font-size: 20px;
}
.content-friends img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 40px;
    margin: 10px 40px -10px 40px;
}
.quote {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
}
.quote p{
    display:flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Roboto",Arial;
    padding-top: 30px;
}
.quote b {
    text-align: right;
    padding:0px 80px 20px 0px;

 }
 .sign-up {
     display:flex;
     background-color: rgb(170, 46, 2);
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin:50px 400px;
     border-radius: 20px;
     color:white;
     font-family: "Roboto", Arial;
     text-align:left;
 }
 .sign-item {
     padding:10px 400px 10px 10px;
 }
 .sign-item h3{
     font-weight: bold;
     font-size: 30px;
     margin:20px 0px -12px 0px;
 }
 .sign-item p{
     font-size: 14px;
     font-weight: 1;
     color:rgb(185, 184, 184)
 }
 .sign-button button {
     border-radius: 10px;
     padding:5px 25px
 }
 .footer{
     display:flex;
     background:#E5E7EB ;
     align-self:center;
     justify-content: center;
     font-family: 'Roboto', arial;
 }